__pycache__/CalcMoonPos.cpython-313.pyc
__pycache__/serialComm.cpython-313.pyc
__pycache__/widgets.cpython-313.pyc
__pycache__/camera.cpython-313.pyc
__pycache__/CalcMoonPos.cpython-311.pyc
__pycache__/serialComm.cpython-311.pyc
__pycache__/camera.cpython-311.pyc